# macOS
.DS_Store
**/.DS_Store

# VS Code
.vscode/
*.code-workspace
venv/

# Virtualenv
venv/
ENV/
env/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
**/__pycache__/
src/__pycache__/
*.py[cod]
*$py.class
*.pyc
src/__pycache__/helper.cpython-312.pyc

# Ignore all files containing "graveyard" in the name
*graveyard*

src/__pycache__/helper.cpython-312.pyc

# pytest -s tests/test_workflow.py